footer {
    position: relative;
    min-height: 350px;
    background-color: $very-dark-blue;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px 20px 20px 30px;
    gap:20px;

    .info {
        .info__img-container {
            width: 120px;
            img {
                width: 100%;
            }
        }
        
        .info-phone-email {
            display: flex;
            align-items: center;
            img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
        }
    }

    .footer__links-cont {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        gap: 8px;
        a {
            color: white;
            text-decoration: none;
        }
    }

    .socialmedia {
        margin-bottom: 20px;
        a {
            text-decoration: none;
            color: white;
            margin-right: 1em;

            .socialmedia-icon{
                width: 30px;
                height: 30px;
                @include tablet {
                    width: 50px;
                    height: 50px;
                }
            }
        }
       
    }

    @include tablet {
        grid-column:1/3 ;
        grid-row: 5/6;

        padding: 20px;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .info{
            margin-bottom: 40px;
            .info__img-container {
                width: 200px;
            }
        }
        .footer__links-cont {
            gap:15px;
            a:hover {
                width: fit-content;
                border-bottom: 1px solid white;
            }
        }

    }
}