$very-dark-blue: hsl(243, 87%, 12%);
$desaturated-blue: hsl(238, 22%, 44%);

// ### Accent

$bright-blue: hsl(224, 93%, 58%);
$very-bright-blue: hsl(224, 70%, 71%);
$moderate-cyan: hsl(170, 45%, 43%);

// ### Neutral

$light-grayish-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);


@mixin text-section {
    padding: 20px;
    text-align: center;
    @include tablet {
        width: 50%;
        padding: 0 40px;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
};

.raleway {
    font-family: 'Raleway', sans-serif;
}